/* Common / Global Css Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul, li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p{
    line-height: 0.8;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.btn-primary{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
    transition: all linear 0.4s;
    cursor: pointer;
}
.btn-primary:hover{
    background: rgb(246, 81, 81);
}

/* Common / Global Css End */

/* Banner Css Start */
#banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding: 180px 0;
    border-radius: 16px;
}
#banner .banner-greeting{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}
#banner .banner-title{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin: 0 auto;
}
/* Banner Css End */

/* New Year Css Start */
.new-year-details{
    margin: 120px 0;
    text-align: center;
}
.new-year-details .new-year-title{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
}
.new-year-details .new-year-description{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 58px;
    margin-bottom: 24px;
}
.new-year-details .new-year-bottom-title{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-bottom: 50px;
}
/* New Year Css End */

/* Midnight Css Start */
.midnight-party-details{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/vector.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 120px;
    padding: 70px 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.midnight-party-details .midnight-left{
    width: 697px;
    margin-left: 126px;
}
.midnight-party-details .midnight-left .midnight-title{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.midnight-party-details .midnight-left .midnight-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 48px;
}
.midnight-right img {
    width: 320px;
    margin-right: 138px;
}
/* Midnight Css End */

/* Places Css Start */
.place-details{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 110px 0;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 120px;
}
.place-details .place-text{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.place-details .place-text-bottom{
    margin-bottom: 40px;
}
.place-details .place-highlight{
    color: #F00;
}
/* Places Css End */

/* Best Offer Css Start */
.best-offer-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.best-offer-details .best-offer-left .best-offer{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.best-offer-details .best-offer-left .best-offer-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 24px;
    margin-bottom: 30px;
}
.best-offer-details .best-offer-left .best-offer-description{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.best-offer-details .best-offer-middle{
    border-radius: 100%;
    padding: 35px;
    border: 15px solid #F00;
}
.best-offer-details .best-offer-right{
    width: 276px;
    margin-left: 118px;
}
.best-offer-details .best-offer-right .best-offer-right-title{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.best-offer-details .best-offer-right .best-offer-right-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 52px;
}
/* Best Offer Css End */

/* Portfolio Css Start */
#portfolio h4{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#portfolio h2{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 22px;
    margin-bottom: 28px;
}
#portfolio p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 54px;
}
#portfolio .portfolio-middle{
    display: flex;
    justify-content: space-between;
}
#portfolio .portfolio-middle, .portfolio-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}
/* Portfolio Css End */

/* Subscribe Css Start */
#subscribe{
    margin: 120px 0;
}
.subscribe-details img{
    margin-top: 80px;
}
.subscribe-details{
    text-align: center;
    margin: 90px 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-details h3{
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 46px;
    margin-bottom: 30px;
}
.subscribe-details p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    width: 896px;
    margin: 0 auto;
}
.subscribe-details input{
    padding: 25px 267px 25px 35px ;
    margin: 80px 0;
    border: none;
    border-radius: 50px 0 0 50px;
}

.subscribe-details input::placeholder{
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
.subscribe-details .btn-subscribe{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 56px;
    background: red;
    border: none;
    border-radius: 0 50px 50px 0;
}
.subscribe-details .inp-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Subscribe Css End */

/* Footer Css Start */
footer{
    background: #000000;
}
.footer-details{
    padding: 120px 0;
}
.footer-details .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-details .footer-top-left h4{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    width: 375px;
}
.footer-top .footer-top-right .phone , .web{
    display: flex;
    gap: 25px;
    align-items: center;
}
.footer-top .footer-top-right p{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.footer-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 50px 0;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright p{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
/* Footer Css End */